# MacOS
.idea/
.DS_Store

.virtual_documents/

*.xlsx

**/.pytest_cache/
.vscode/
**/legacy_data*/
*.code-workspace
.env
**/__pycache__/
**/.ipynb_checkpoints/
**/.benchmarks/
tests/test_speed.py
.coverage

templates/outputs/

*.zip

/.env/*
venv/

*.pem
*.pickle

.code_quality/.githooks/pre-commit*

src/server/temp/batch/temp.wav
src/server/temp/live/temp.txt
src/server/temp/live/temp.wav
src/client/temp/temp.wav

data/*